---
import Layout from "../layouts/Layout.astro";
import Planet from "../components/Planet.astro";
---

<Layout title="Portfolio - Ruben KABANGA MUYA">
	<main>
		<Planet src="earth.webp" />
		<Planet src="venus.webp" />
		<Planet src="neptune.webp" />
	</main>
</Layout>

<style>
	main {
		max-width: 60ch;
	}
</style>
