---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="cursor hover">
			<div class="circle">
				<svg class="cursor-hover hide" viewBox="0 0 100 100">
					<circle
						cx="50"
						cy="50"
						r="40"
						stroke-dasharray="50, 4"
						fill="transparent"
						stroke="#818181"
						stroke-width="2"></circle>
				</svg>
			</div>
			{!Astro.slots.has("default") && <p>hello</p>}
		</div>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			#da62c4 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		cursor: none !important;
	}
	body {
		background: linear-gradient(rgb(45, 59, 51), rgb(31, 31, 73)) no-repeat;
		height: 100vh;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}
	.cursor {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		width: 80px;
		height: 80px;
		/* permet de center le default cursor au milleu du custom */
		margin-top: -40px;
		margin-left: -40px;
		z-index: 1;
		border: 2px solid rgba(255, 255, 255, 0.3);
		border-radius: 50%;
		pointer-events: none;
		transition: transform 300ms ease-in-out;
	}

	.cursor.hover {
		transform: scale(0.75);
	}

	.circle {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 60px;
		background-color: rgba(0, 0, 20, 0.5);
		border-radius: 50%;
		box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 1);
	}

	.cursor-hover {
		animation: spin 10s infinite;
		transition: all 0.3s ease-in-out;
	}
	.cursor-hover.hide {
		opacity: 0;
		animation: none;
	}
</style>
<script>
	const cursor = document.querySelector(".cursor");
	if (cursor) {
		window.addEventListener("mousemove", (e) => {
			var x = e.clientX;
			var y = e.clientY;
			cursor.style.left = x + "px";
			cursor.style.top = y + "px";
		});
	}
</script>
